.anime-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  min-height: 100vh;
}

.anime-card {
  width: 18vw;
  height: 27rem;
  margin: 30px;
  border: 1px solid;
  box-shadow: 5px 5px 4px 0px yellowgreen;
  transition: 0.5s;
}

.anime-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.anime-img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
}

.anime-title {
  padding: 1rem 0.5rem;
  color: yellow;
  font-size: 0.9rem;
  justify-content: center;
}
